body {font-family:Century Gothic;
}
h1 {font-size: 54pt;
    text-align: center;
	font-weight: normal;
}
h2 {font-size: 24pt;
    text-align: center;
	font-weight: normal;
}
 main {font-size: 20pt;

 }
 footer {font-size: 16pt;
 text-align: right;
 }

.baner img {width: 100%;}
.my {text-align: center;}		    
.my img {width: 15%;}
table.disk th, table.disk td {
	border: grey thin solid;
	padding:4 4px
}
