body {font-family:Century Gothic;
}
h1 {font-size: 54pt;
    text-align: center;
	font-weight: normal;
}
h2 {font-size: 24pt;
    text-align: center;
	font-weight: normal;
}
footer {font-size: 20pt;
 text-align: justify;
 }
 main {font-size: 16pt;
 text-align: right;
 }

.baner img {width: 100%;}
.my {text-align: center;
}		    
.my img {width: 15%;}
